body.event-single
{
	header
	{
		.container-inner
		{
			margin: 0px auto;

			h1
			{
				float: left;
				width: 100%;
			}

			.nav-container
			{
				float: left;
				width: 100%;
				margin-bottom: 10px;
			}
		}
	}

	main
	{
		position: relative;
		top: 90px;

		.container-inner
		{
			max-width: 480px;
			margin: 0px auto;

			@media only screen and (min-width: 768px)
			{
				max-width: none;
			}

			button.historic-trigger
			{
				margin: 10px 0px;
			}

			.historic
			{
				display: none;
			}

			form.amend-event,
			form.add-instance
			{
				margin-bottom: 20px;

				fieldset
				{
					legend
					{
						font-size: 14px;
						font-weight: 700;
						border: none;
						margin-bottom: 5px;
					}

					.input-row
					{
						float: left;
						width: 100%;

						.name
						{
							float: left;
							width: 40%;
						}

						.value
						{
							float: left;
							width: 60%;

							select,
							input
							{
								width: 100%;
								padding: 1px 5px;
							}
						}
					}
				}

				@media only screen and (min-width: 768px)
				{
					float: left;
					width: 50%;
				}
			}

			.results-container
			{
				.list-header
				{
					display: none;
					.column-heading
					{
						text-align: center;
					}
				}

				.list-body
				{
					.list-item
					{
						margin-bottom: 5px;
						padding: 5px 0px;

						*
						{
							background-color: inherit;
						}

						.column-data
						{
							float: left;
							width: 50%;
							padding: 0px 5px;

							input
							{
								width: 100%;
							}

							@media only screen and (min-width: 576px)
							{
								&.date
								{
									width: 35%;
								}

								&.time
								{
									width: 25%;
								}

								&.status
								{
									width: 20%;
								}

								&.update
								{
									width: 20%;
								}
							}
						}

						&[data-status='To Do']
						{
							background-color: #FAA;
						}

						&[data-status='Complete']
						{
							background-color: #AFA;
						}

						&[data-status='Postponed']
						{
							background-color: #AAA;
						}

						&[data-status='Cancelled']
						{
							background-color: #AAA;
						}
					}
				}
			}
		}
	}
}
