header .nav-buttons-container,
header .link-buttons-container,
main.homepage section.results-container article
{
	width: 100%;
	max-width: 480px;
	margin: 0px auto 5px;
}

header
{
	box-shadow: 0px 1px 1px 0px;
	position: fixed;
	width: 100%;
	background: white;
	z-index: 10;

	h1
	{
		margin-top: 10px;
		font-size: 20px;
	}

	.nav-buttons-container,
	.link-buttons-container
	{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}

	.nav-buttons-container
	{
		button.prev
		{
			grid-column-start: 1;
			grid-column-end: 2;
		}

		button.next
		{
			grid-column-start: 3;
			grid-column-end: 4;
		}

		button.week
		{
			grid-row-start: 1;
			grid-row-end: 2;
		}

		button.day
		{
			grid-row-start: 2;
			grid-row-end: 3;
		}

		button#todayBtn
		{
			grid-column-start: 2;
			grid-column-end: 3;
			grid-row-start: 1;
			grid-row-end: 3;
		}
	}

	.link-buttons-container
	{
		a
		{
			button
			{
				width: 100%;
			}
		}
	}
}

main.homepage
{
	position: relative;
	top: 140px;

	section.results-container
	{
		article
		{
			padding: 10px 15px;
			border-bottom: 1px solid black;

			form
			{
				display: grid;
				grid-template-columns: repeat(4, 1fr);
				grid-column-gap: 15px;

				.result-item
				{
					grid-column-start: span 2;
					margin-bottom: 5px;
					line-height: 26px;

					input
					{
						line-height: 20px;
					}
				}

				.result-item.task-description-container
				{
					grid-column-start: span 3;
				}

				.result-item.task-type-container
				{
					grid-column-start: span 1;
					text-align: right;
				}

				.result-item.task-travel-container
				{
					input
					{
						width: calc(100% - 45px);
						background-color: transparent;
					}
				}

				.result-item.start-task-container
				{
					input
					{
						width: calc(100% - 70px);
						background-color: transparent;
					}
				}

				.result-item.task-update-container
				{
					input
					{
						width: 100%;
					}
				}
			}

			.change-status-container
			{
				display: grid;
				grid-template-columns: repeat(3, 1fr);

				.change-status
				{
					width: 100%;

					button
					{
						width: 100%;
					}
				}
			}
		}

		article[data-status='To Do']
		{
			background-color: rgb(255, 170, 170);
		}

		article[data-status='Complete']
		{
			background-color: rgb(170, 255, 170);
		}

		article[data-status='Cancelled']
		{
			background-color: rgb(170, 170, 170);
		}

		article[data-status='Postponed']
		{
			background-color: rgb(170, 170, 170);
		}
	}
}

@media only screen and (min-width: 576px)
{
	header
	{
		h1
		{
			br
			{
				display: none;
			}
		}
	}
}

@media only screen and (min-width: 768px)
{
	main.homepage section.results-container article
	{
		max-width: none;

		form
		{
			grid-template-columns: repeat(5, 1fr);

			.result-item
			{
				grid-column-start: span 1;
			}

			.result-item.task-description-container
			{
				grid-column-start: span 2;
			}

			.result-item.task-type-container
			{
				text-align: center;
			}
		}
	}
}