header .nav-buttons-container,
header .link-buttons-container
{
	width: 100%;
	max-width: 480px;
	margin: 0px auto 5px;
}

header
{
	box-shadow: 0px 1px 1px 0px;
	position: fixed;
	width: 100%;
	background: white;
	z-index: 10;

	h1
	{
		margin-top: 10px;
		font-size: 20px;
	}

	.nav-buttons-container,
	.link-buttons-container
	{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}

	.nav-buttons-container
	{
		button.prev
		{
			grid-column-start: 1;
			grid-column-end: 2;
		}

		button.next
		{
			grid-column-start: 3;
			grid-column-end: 4;
		}

		button.week
		{
			grid-row-start: 1;
			grid-row-end: 2;
		}

		button.day
		{
			grid-row-start: 2;
			grid-row-end: 3;
		}

		button#todayBtn
		{
			grid-column-start: 2;
			grid-column-end: 3;
			grid-row-start: 1;
			grid-row-end: 3;
		}
	}

	.link-buttons-container
	{
		a
		{
			button
			{
				width: 100%;
			}
		}
	}
}

@media only screen and (min-width: 576px)
{
	header
	{
		h1
		{
			br
			{
				display: none;
			}
		}
	}
}